
       <div class="row" > 
           <div class="column">
             <img class="img" src="assets/images/homeIcon.jpg">
           </div>
           <div class="column">
               <a [routerLink]="['/listmap']"  style="color: white;">Map List</a>
           </div>
           <div class="column">
               <a [routerLink]="['/showmap']" style="color: white;" >Search Maps</a>
           </div>
           <div class="column">
               <a [routerLink]="['/newmap']" style="color: white;" >Create Maps</a>
           </div>
           <div class="column" >
               <a [routerLink]="['/updatemap']"  style="color: white;">Update Maps</a>
           </div>
           <div class="column" >
               <a [routerLink]="['/deletemap']"  style="color: white;">Delete Maps</a>
           </div>
    </div>
  

