<div style="margin-left: 30%;font-weight: bold; font-size:30px;">Listing All Maps In The List</div>
<div  class ="centered" class="table-responsive table-compare" style="margin-top: 1%;
    margin-left: 3%;" >	
	<div *ngIf="nomaps"><h1>No Maps to List</h1>
	</div>
    <table style="border-style: solid;" *ngIf="show" > 
        <thead>
				<tr>
					<td style="color:black;padding-left: 10px;font-weight: bold; padding-top: 0.5%;padding-bottom: 1%;margin-left:10px;font-size:20px;" *ngFor= "let heading of title" >
						{{heading.name}}
					</td>
				</tr>
			</thead>
        <tbody>
            <tr *ngFor= "let item of posts"> 
                <td style="color:black;padding-left: 10px;font-weight: bold; padding-top: 0.5%;padding-bottom: 1%;margin-left:10px;font-size:20px;" >
                    {{item.id}}
                </td>
                <td style="color:black;padding-left: 10px;font-weight: bold; padding-top: 0.5%;padding-bottom: 1%;margin-left:10px;font-size:20px;" >
                   {{item.title}} 
                </td>
                <td style="color:black;padding-left: 10px;font-weight: bold; padding-top: 0.5%;padding-bottom: 1%;margin-left:10px;font-size:20px;" >
                    {{item.content}}
                </td>
                <td style="color:black;padding-left: 10px;font-weight: bold; padding-top: 0.5%;padding-bottom: 1%;margin-left:10px;font-size:20px;" >
                    {{item.created_at | date}}
                </td>
                <td style="color:black;padding-left: 10px;font-weight: bold; padding-top: 0.5%;padding-bottom: 1%;margin-left:10px;font-size:20px;" >
                    {{item.updated_at |date}}
                </td>
            </tr>
        </tbody>
    </table>
</div>