<div class="row">
    <div class="column">
     <label for="title" style="width: 16%;margin-left: 73px;">Name :</label> 
    </div>
    <div class="column">
        <input type="text"  [(ngModel)]="place">
    </div>
    <div class="column">
        <button (click)="getData()">Show Data</button>
    </div>
</div>
<div class="row">
    <div class="column">
     <label for="title" style="width: 16%;margin-left: 73px;">Content :</label> 
    </div>
    <div class="column">
        <textarea [(ngModel)]="content" [attr.disabled]=true style="width:50%;"></textarea>
    </div>
</div>
<div class="row">
    <div class="column">
     <label for="title" style="width: 16%;margin-left: 73px;">Image URL :</label> 
    </div>
    <div class="column">
             <a href="{{image_url}}" target="_blank" > <textarea [(ngModel)]="image_url" [attr.disabled]=true style="width:50%;"></textarea></a>
    </div>
</div>
<div class="row">
    <div class="column">
       <label for="title" style="width: 16%;margin-left: 73px;">Created :</label> 
    </div>
    <div class="column">
        <input type="text" style="width:50%;" [attr.disabled]=true [(ngModel)]="created_at">
    </div>
</div>
<div class="row">
      <div class="column">
       <label for="title" style="width: 16%;margin-left: 73px;">Location :</label> 
    </div>
    <div class="column" *ngIf="show">
              <agm-map [latitude]="lat" [longitude]="long" [zoom]=6 >
                      <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable"></agm-marker>
             </agm-map>
</div>


